<div class="ui inverted small menu">
  <div class="ui container">
    <h2 class="ui small header item">
      <i class="circular orange inverted envelope icon"></i>
      <%= link_to "MessageMe", root_path%>
    </h2>
    <%= link_to "Chatoom", root_path, class: "item"%>
    <a class="item">
      Messages
    </a>
    <div class="right menu">
      <div class="ui dropdown item">
        Account <i class="dropdown icon"></i>
        <div class="menu">
          <% if logged_in? %>
            <%= link_to "Log out", logout_path, method: :delete, class: "item" %>
          <% else %>
            <%= link_to "Log in", login_path, class: "item"%>
            <a class="item">Sign up</a>
          <% end %>
        </div>
      </div>

      <% if !logged_in? %>
        <div class="item">
            <div class="ui primary button">Sign Up</div>
        </div>
      <% end %>
    </div>
  </div>
</div>